body{
    font-family: 'Courier New', Courier, monospace;
}

h1{
    font-size: 40px;
    color: black;
}

h2{
    font-size: 10px;
    color: rgb(194, 3, 3);
}

h3{
    font-size: 10px;
    color: #000;
}

p{
    font-size: 25px;
    color: #000;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;

    border: 8px solid #dd763b;
    padding: 5px;

}